In [1]:
import pandas as pd

First we have to import pandas - I import it as `pd`.

In [3]:
df = pd.DataFrame(
    {"a": [4, 5, 6],
     "b": [7, 8, 9],
     "c": [10, 11, 12]},
    index=[1, 2, 3],
)
print(df)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

I've created a dataframe and print it out above.
Now, I'd like to slice the first row (row 1), and put this in a new dataframne.

In [6]:
second_df = pd.DataFrame(df.head(1))
type(second_df)

pandas.core.frame.DataFrame

In [7]:
print(second_df)

   a  b   c
1  4  7  10